@import '../../styles/scss/main';

.formalizationmat-dashboard {
  width: 100%;
  .pool {
    @include flex-direction(row);
    margin-left: $n-marginDefault;
    margin-right: $n-marginDefault;
    flex-wrap: wrap;
    @include flex-wrap(wrap);
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
